<form  name="edit-product-form" class="form-horizontal edit-product-form" action="/save?ction=Updated" method="post" ng-show="editProduct">
    <fieldset>
        <legend>Product Price: {{ currentProduct.store_price }}</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="id">Product ID</label>
            <div class="col-md-6">
                <input id="id" name="id" type="text" placeholder="Enter product id" class="form-control input-md" value="{{ currentProduct._id }}" required="" ng-modal="product.id" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="store">Store</label>
            <div class="col-md-6">
                <select id="store" name="store" class="form-control">
                    <option value="'+data.storeID+'">{{ currentProduct.store_name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="price">Your Price</label>
            <div class="col-md-6">
                <input id="price" name="my-price" type="number" placeholder="Enter your price" class="form-control input-md" value="{{ currentProduct.my_price }}" required="" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="limit">Upper Limit</label>
            <div class="col-md-6">
                <input id="upper-limit" name="upper-limit" type="text" placeholder="Upper price limit" class="form-control input-md" value="{{ currentProduct.upper_limit }}" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="limit">Lower Limit</label>
            <div class="col-md-6">
                <input id="lower-limit" name="lower-limit" type="text" placeholder="lower price limit" class="form-control input-md" value="{{ currentProduct.lower_limit }}" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label osv-label" for="limit">OSV</label>
            <div class="col-md-6">
                <input id="osv" name="osv" type="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-6">
                <button id="submit" type="submit" name="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>