<form name="newForm" class="form-horizontal new-product-form" action="/save?action=Added" method="post" ng-show="newProduct">
    <fieldset>
        <legend>Add New Product</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="id" ng-model="p.id">Product ID</label>
            <div class="col-md-6">
                <input id="id" name="id" type="text" placeholder="Enter product id" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="store" ng-model="p.store">Store</label>
            <div class="col-md-6">
                <select id="store" name="store" class="form-control">
                    <option value="">Select</option>
                    <option value="hn">Hayneedle</option>
                    <option value="wm">Walmart</option>
                    <option value="wf">Wayfair</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="price">Your Price</label>
            <div class="col-md-6">
                <input id="price" name="my-price" type="number" placeholder="Enter your price" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="limit">Upper Limit</label>
            <div class="col-md-6">
                <input id="upper-limit" name="upper-limit" type="number" placeholder="Upper price limit" class="form-control input-md"  required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="limit">Lower Limit</label>
            <div class="col-md-6">
                <input id="lower-limit" name="lower-limit" type="number" placeholder="Lower price limit" class="form-control input-md" v required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="p-status">Status</label>
            <div class="col-md-6">
                <select id="p-status" name="p-status" class="form-control">
                    <option value="isv">Instock Verified</option>
                    <option value="osv">Out Of Stock Verified</option>
                    <option value="isuv">Instock Unverified</option>
                    <option value="osuv">Out Of Stock Unverified</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-6">
                <button id="submit" type="submit" name="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>