          <footer class="row">
            <div class="col-xs-12 text-center"><a href="#"><i class="fa fa-github">View Code</i></a></div>
          </footer>
        </div>
      </div>
    <!-- JAVASCRIPTS -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- angular -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script type="text/javascript" src="/bower_components/annyang/annyang.min.js"></script>
    
    <!-- Bootstrap js -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- main js -->
    <script src="/javascripts/bundle.js"></script>
    

  </body>
</html>