<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">{{ defaultModalTitle }}</h4>
          </div>
          <div class="modal-body">
            <% include modalPartials/moreInfo %>
            <% include modalPartials/new %>
            <% include modalPartials/edit %> 
          </div>
          <div class="modal-footer" ng-hide="newProduct">
              <a ng-href="{{ currentProduct.link }}" target="_blank"><button type="button" class="btn btn-default view-source-btn" >View Source</button></a>
              <button type="button" class="btn btn-default  edit-btn" ng-click="showModal('editProduct', currentProduct)" >Edit</button>
          </div>
      </div>
  </div>
</div>

