<%
          //       AVAILABLE DATA 
          // products                : allProducts,
          // title                   : 'Dashboard',
          // id                      : updateRequest.id,
          // action                  : updateRequest.action,
          // loggedIn                : pageData.loggedIn,
          // allCount                : statsData.allProducts.length,
          // outOfStockCount         : statsData.outOfStock.length,
          // profitLossCount         : statsData.profitLoss.length,
          // available               : statsData.goodProducts.length,
          // inStockUnverifiedCount  : statsData.inStockUnverified.length,
          // outOfStockVerifiedCount : statsData.outOfStockVerified.length,
          // view                    : requestedPage.dbView,
          // manage                  : requestedPage.manage

  %>
<% var page %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">StatFinder</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li
          <% if(view === 'dash') { %>
          <% page ='dash' %>
            class="active"
            data-page="<%= page %>"
          <% } %>
        ><a href="/dash">Dashboard <span class="sr-only">(current)</span></a></li>
        <li
          <% if(view === 'all') { %>
          <% page ='dash/all' %>
            class="active"
            data-page="<%= page %>"
          <% } %>
        ><a href="/dash/all">All Products</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="add-new-product"><a href="#">Add New Product</a></li>
            <li class="divider"></li>
            <li><a href="#">Manage Products</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control search-input" placeholder="Search by id">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <% if(!loggedIn) {%>
        <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
      <% } else { %>
        <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
      <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
