<div class="row">
  
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Out Of Stock: <%= outOfStockCount %>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>



  <div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Price Changed: <%= profitLossCount %>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>



  <div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Products in Stock: <%= available %>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>



  <div class="col-lg-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Total Products: <%= allCount %>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>

</div>