<div class="row">

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-warning fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ outOfStockCount }}</div>
                  <div>Out of Stock</div>
              </div>
          </div>
      </div>
      <a href="#" ng-click="filterTable('outOfStock')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div> 



  <div class="col-md-3 col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-money fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ deviatedCount }}</div>
                  <div>$ Deviated</div>
              </div>
          </div>
      </div>
       <a href="#" ng-click="filterTable('deviated')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-money fa-3x"></i>
                  <i class="fa fa-warning fa-2x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ badProductsCount }}</div>
                  <div>Bad Products(O+P)</div>
              </div>
          </div>
      </div>
       <a href="#" ng-click="filterTable('badProducts')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
    </div>
  </div> 

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-certificate fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ osvCount }}</div>
                  <div>OSV</div>
              </div>
          </div>
      </div>
       <a href="#" ng-click="filterTable('osv')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
    </div>
  </div>  

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-check-circle fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ isuvCount }}</div>
                  <div>ISUV</div>
              </div>
          </div>
      </div>
       <a href="#" ng-click="filterTable('isuv')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
    </div>
  </div>  

   <div class="col-md-4 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ goodProductsCount }}</div>
                  <div>Good Products</div>
              </div>
          </div>
      </div>
      <a href="#" ng-click="filterTable('goodProducts')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div> 

   <div class="col-md-4 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">{{ allProductsCount }}</div>
                  <div>Total Products</div>
              </div>
          </div>
      </div>
      <a href="#" ng-click="filterTable('allProducts')">
         <div class="panel-footer">
            <span class="pull-left">View in Table</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div> 

  </div>